.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  margin-top: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.sidebar > .sidebar__top {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid lightgray;
  border-bottom: 0;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 10px;
  width: 220px;
}
.sidebar__top > img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 60px;
  margin-bottom: -35px;
}

.sidebar__avatar {
  width: 70px !important;
  height: 70px !important;
  margin-bottom: 20px;
}
.sidebar__top > .title {
  font-size: 17px;
  margin: 5px 0;
  font-weight: 600;
}
.sidebar__top > .skills {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
.sidebar__top > .contact {
  color: gray;
  font-size: 13px;
  margin-top: 10px;
  cursor: pointer;
}
.sidebar__top > .contact:hover {
  color: black;
}

.sidebar > .sidebar__status {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: white;
  color: gray;
  padding: 10px 10px;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.sidebar__status > .sidebar__stats {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.sidebar__stats > .status__views {
  font-size: 13px;
  font-weight: bold;
}
.sidebar__stats > .status__num {
  font-size: 13px;
  color: #0a66c2 !important;
  font-weight: bold;
}

.sidebar__bottom {
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  width: 220px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}
.sidebar__bottom > h3 {
  font-weight: 300;
  font-size: 18px;
  padding-left: 10px;
  color: rgb(44, 44, 44);
}
.sidebar__recent {
  margin: 10px 0px 20px;
}
.following {
  display: flex;
  align-items: center;
  padding: 4px 15px;
  cursor: pointer;
}
.following:hover {
  background-color: whitesmoke;
}
.following:hover > .title {
  color: rgb(44, 44, 44);
}

.following > .hash {
  font-weight: 800;
  font-size: 17px;
  margin-right: 8px;
  color: rgb(44, 44, 44);
}
.following > .title {
  font-weight: 600;
  font-size: 13px;
  padding: 4px 3px;
  color: gray;
}
.sidebar__more {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.sidebar__more:hover {
  background-color: whitesmoke;
}
.sidebar__more:hover > .more__btn {
  color: rgb(44, 44, 44);
}
.sidebar__more > .more__btn {
  background: transparent;
  cursor: pointer;
  border: none;
  padding: 15px;
  font-size: 14px;
  font-weight: 600;
  color: gray;
}
